---
layout: default
title: Contribute to GitLab
description: "Learn about contributing to GitLab and read the guidelines, contribution process, sponsor the development of new features, and more."
suppress_header: true
extra_css:
  - contributing.css
---
.wrapper
  .simple-header
    %h1 Contribute to GitLab
    %p
    :markdown
      The next [GitLab Hackathon](https://about.gitlab.com/community/hackathon/) will be on August 28th - 29th, 2019!
  #content
    .wrapper.container.contributing-content{role: "main"}
      .block
        .block-content
          %h2.block-title 
          :markdown
            We want to make it as easy as possible for GitLab users to become GitLab contributors, so we’ve created this guide to help you get started. We have multiple tracks to cater to people of varying interests.

            In addition to Open Source Development, there are also Documentation, Translation, and UX Design tracks. Documentation, Translation, and UX Design are all just as important as code, and we'd be happy to welcome your contributions.
            
            ![Community growth numbers](/images/community/wider-community-growth.png){: .medium}<br>
            
            We want to create a welcoming environment for everyone who is interested in contributing. Please visit our [Code of Conduct page](/community/contribute/code-of-conduct/) to learn more about our commitment to an open and welcoming environment.            

      .block
        .block-content
          %h2.block-title 
            %a{ href: '#development' } Development
          :markdown
            Whether it's fixing bugs, adding new features, helping with reviews, GitLab is a great Open Source community for developers from all backgrounds. Many contributors actually started contributing to GitLab development without being familar with languages like Ruby. 

            For more information, please visit [Contributing to Development page](/community/contribute/development/index.html).

      .block
        .block-content
          %h2.block-title 
            %a{ href: '#documentation' } Documentation
          :markdown
            Contributing to documentation is a great way to get familar with the GitLab development process and to meet reviewers and other community members. From fixing simple typos to better organizing our documentation, you will find a lot of different areas where you can contribute.  
            
            For more information, please visit the [Contributing to Documentation page](/community/contribute/documentation/index.html).

      .block
        .block-content
          %h2.block-title 
            %a{ href: '#translation' } Translation
          :markdown
            GitLab is being translated into more than [35 languages](https://translate.gitlab.com/), and this is also driven by wider community members. If you speak another language, you can join more than 1,500 community members who are helping translate GitLab. 
            
            For more information, please visit [Contributing to Translation page](/community/contribute/translation/index.html).

      .block
        .block-content
          %h2.block-title 
            %a{ href: '#ux-design' } UX Design
          :markdown
            In order to help make our product that is easy to use and is built for diverse group of people, we welcome contribution from the wider community. You can help us better understand how you use GitLab and your needs as you work with the GitLab UX team members. 
            
            For more information, please visit [Contributing to UX Design page](/community/contribute/ux-design/index.html).          

      .block
        .block-content
          %h2.block-title 
            %a{ href: '#getting-help' } Getting Help
          :markdown
            If you need any help while contributing to GitLab, below are some of the resources that are available.

            1. Ask questions on the [Contributors Gitter Channel](https://gitter.im/gitlabhq/contributors).
            1. Get in touch with [Merge Request Coaches](/job-families/expert/merge-request-coach/). To find a merge request coach, go to the [GitLab Team Page](/team/) and search for "merge request coach". You can also [mention](https://docs.gitlab.com/ee/user/group/subgroups/#mentioning-subgroups) Merge Request Coaches by typing `@gitlab-org/coaches` in a comment.
            1. Find reviewers & maintainers of Gitlab projects in our [handbook](/handbook/engineering/projects/#gitlab-ce) and [mention](https://docs.gitlab.com/ee/user/group/subgroups/#mentioning-subgroups) them in a comment.
            1. If you have feature ideas/questions, you can reach out to [product team members](/handbook/product/categories/).
            1. For any other questions or feedback, please email `contributors@gitlab.com`.
