---
layout: default
title: Join GitLab
twitter_image: '/images/tweets/teamgitlab.jpg'
suppress_header: true
extra_css:
  - jobs.css
extra_js:
  - apply.js
---
.container.listing-container
  .content.tile{id: 'opportunities'}
    %h1 Current Vacancies
    %p
      All of our vacancies are hosted on our applicant tracking system (ATS),
      %a{href: 'https://www.greenhouse.io/'} Greenhouse.
      The below list will dynamically load our current vacancies from Greenhouse; if you do not see the list, please view the
      %a{href: 'https://boards.greenhouse.io/gitlab'} vacancies directly on Greenhouse.
    %p
      We don’t work with recruiters or agencies.
      We are all remote and hire in most countries except for
      %a{href: '/jobs/faq#country-hiring-guidelines'} these
    %a{href: '/jobs/faq'} Please see this page for more details and other FAQs.

    .container{id: 'job-filter'}
      %h6 Department
      %select{id: 'select-department'}
        %option{value: 'all'}= "All Departments"
        - if !jobListingsData.empty?
          - jobListingsData.each do |department|
            - if !department[:teams].empty?
              %option{value: "#{department[:id]}", data: {type: 'department'}}= department[:name]
              - if !department[:teams].empty?
                - department[:teams].each do |team|
                  - if !team[:jobs].empty?
                    %option{value: "#{team[:id]}", data: {type: 'team'}}= team[:name]

    .container{id: 'job-listing'}
      .jobs-counter.hidden
        %h5#counter
      - jobListingsData.each do |department|
        - if !department[:teams].empty?
          %h4.department-title{data: {department: department[:id]}}= department[:name]
          - department[:teams].each do |team|
            %h5.team-title{data: {team: team[:id]}, style: 'padding-left: 20px'}= team[:name]
            - team[:jobs].each do |job|
              .job-container{data: {department: department[:id], team: team[:id]}, style: 'padding-left: 40px'}
                %a{href: "/jobs/apply/#{job[:title].downcase.strip.tr(' ', '-').gsub(/[^\w-]/, '')}-#{job[:id].to_s}"}= job[:title]
                %h6= job[:location][:name]
